

p { 
  margin-top: 0; 
  margin-bottom: 0; 
  font-family: Roboto,Arial;
  font-weight: 700;
} 

body{
  font-family: Robot,Arial; 
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  padding-bottom: 100px;
background-color: rgb(252, 252, 252);
}